<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Wall</h1>
    <form action="/success" method="POST">
        {% csrf_token %}
    </form>

    <h2>Welcome, {{logged_in_user.first_name}} {{logged_in_user.last_name}}!</h2>
    <p>I'm so happy to see you!</p>

    <form action="/post" method="POST">
        {% csrf_token %}
    <h3><label for="message">Post Something!</label></h3>
    <input type="text" name="message" id="message">
    <input type="submit" value="Post">
    </form>

    {% for post in all_message %}
    <p>{{post.user.first_name}} {{post.user.last_name}} {{post.created_at|date:"F dS Y"}}</p>
    <h1>{{post.message}}</h1>
    {% for comment in post.comments.all %} 
    
    <p>{{comment.comment}}</p>
     {% endfor %}
     <form action="/post_comment" method="POST">
        {% csrf_token %}
        <label for="comment">Leave a comment</label>
        <input type="text" name="comment" id="comment">
        <input type="hidden" name="message_id" value="{{post.id}}">
        <input type="submit" value="submit">
        </form>   
 
    <a href="/delete/{{post.id}}">Delete</a>
    {% endfor %}



    <a href="/logout">Logout</a>

    
</body>
</html>